body {
	margin: 0;
	font-family: Roboto, -apple-system, 'Helvetica Neue', 'Segoe UI', Arial, sans-serif;
}

a{
    text-decoration: none;
    color: black;
}

.header{
    display: flex;
    justify-content: space-between;
    margin: 5px 100px;
}

.selfie{
    margin: auto 0px;
    vertical-align: middle;
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.div-logo{
    margin-top: 0px;
}

#create{
    position: relative;
    bottom: 40px;
    left: 15%;

    width: 200px;
    height: 40px;

    background-color: #180148;
    color: #fff;

    cursor: pointer;

    border: 0px;
    border-radius: 10px;
}

#create:hover{
    background-color: #00007c;
}

.substitution{
    width: 80%;
    height: 250px;

    border: 1px solid black;
    border-radius: 8px;

    justify-content: space-between;

    margin: 20px 10%;
}

.project-list{
    margin: 0px 10%;
}

.user{
    position: relative;
    display: inline-block;
    margin: auto 0px;
}

.user-list{
    display: none;
    position: absolute;
    padding: 0px 0px;
    margin-top: 5px;
    margin-left: -80px;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.user-list li{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    list-style: none;
    text-align: center;
}

.user-list .need-hover{
    cursor: pointer;
}

.user-list .need-hover:hover{
    background-color: #ddd;
}

.display-block {
    display: block;
}

table th:first-child {
    border-radius: 10px 0 0 0;
    border: 1px solid orange;
}

table tr:nth-child(odd) td{
    background-color: #eee
}

table th:last-child {
    border-radius: 0 10px 0 0;
    border-right: 1px solid orange;
}

table tr:last-child td:last-child {
    border-radius: 0 0 10px 0;
}

table tr:last-child td:first-child {
    border-radius: 0 0 0 10px;
}

thead{
    background-color: orange;
}

th{
    background-color: orange;
    height: 30px;
}

td{
    background-color: white;
    height: 50px;
}

table{
    border-spacing: 0px;
    text-align: center;
    margin: 20px;
    font-size: 17px;
}

.delete{
    width: 55px;
    height: 20px;

    position: relative;
    top: 0px;
    left: 0px;

    border: 0px;
    border-radius: 5px;
    background-color: red;
    color: white;
    cursor: pointer;
}

.delete:hover{
    background-color: rgb(255, 120, 120);
}

.project{
    border: 0px;
    font-size: 20px;
    cursor: pointer;
    background-color: transparent;
}

.project:hover{
    text-decoration: underline;
}

.word{
    color: white;
    -webkit-text-stroke: 1px black;
    font-size: 38px;
    margin-top: 0px;
    margin-left: 80px;
}

